package layouts

templ Page(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ title } - Pluto Reader!</title>
			<script src="/dist/js/htmx.min.js"></script>
			<link rel="stylesheet" href="/dist/css/style.css"/>
		</head>
		<body class="bg-background text-text">
			{ children... }
		</body>
		<script src="/dist/js/app.js"></script>
	</html>
}
